body{
	background-image: url(../images/images.jpg);
  	font-family: Arial;
  	width: 80%;
  	margin: 0 auto;
  	margin-top: 20px;
  	background-repeat: repeat-x;
}
.tab{
	overflow: hidden;
}
.tab button{
	float: left;
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: #666666;
  	color: #ffff;
  	margin-right: 4px;
  	transition: 0.3s;
  	font-size: 17px;
}
.clear{
	clear: both;
}
.tab button.active {
  background-color: white;
  color: black;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: white;
  border-top: none;
}

